In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

In [8]:
path=r"C:\Users\win10\Desktop\DATA SCIENCE\ExcelR\Assignment Given (Untouched)\13)Neural Network\Assignment Given\forestfires.csv"

In [9]:
path=path.replace("\\","/")

In [10]:
df=pd.read_csv(path)

In [11]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [12]:
df=df.iloc[:,[30,6,7,8,9]]

In [13]:
df.describe()

             temp          RH        wind        rain
count  517.000000  517.000000  517.000000  517.000000
mean    18.889168   44.288201    4.017602    0.021663
std      5.806625   16.317469    1.791653    0.295959
min      2.200000   15.000000    0.400000    0.000000
25%     15.500000   33.000000    2.700000    0.000000
50%     19.300000   42.000000    4.000000    0.000000
75%     22.800000   53.000000    4.900000    0.000000
max     33.300000  100.000000    9.400000    6.400000

In [14]:
X=df.iloc[:,1:5]

In [15]:
y=df.iloc[:,0]

In [16]:
df.size_category.value_counts()

small    378
large    139
Name: size_category, dtype: int64

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [18]:
X_train=scale(X_train)
X_test=scale(X_test)

In [19]:
model=MLPClassifier(hidden_layer_sizes=(100,))
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [20]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,y_pred)

0.6987179487179487

In [21]:
confusion_matrix(y_test,y_pred)

array([[  1,  46],
       [  1, 108]], dtype=int64)

In [22]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n       large       0.50      0.02      0.04        47\n       small       0.70      0.99      0.82       109\n\n    accuracy                           0.70       156\n   macro avg       0.60      0.51      0.43       156\nweighted avg       0.64      0.70      0.59       156\n'