In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
path=r"C:\Users\win10\Desktop\DATA SCIENCE\ExcelR\Assignment Given (Untouched)\6)Association Rule\my_movies.csv"

In [3]:
path=path.replace('\\', '/')

In [4]:
movies=pd.read_csv(path,)

In [5]:
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [6]:
#Lets choose the columns which are relavent
df=movies.iloc[:,5:15]

In [10]:
most_watched=apriori(df, min_support=0.005, max_len=3,use_colnames = True)

In [11]:
most_watched.sort_values('support',ascending=False,inplace=True)

In [12]:
rules=association_rules(most_watched,metric='lift', min_threshold=1)

In [13]:
print(rules.sort_values('lift',ascending=False).head())

                 antecedents              consequents  antecedent support  \
84                    (LOTR)  (Gladiator, Green Mile)                 0.1
81   (Gladiator, Green Mile)                   (LOTR)                 0.1
123             (Green Mile)   (Harry Potter1, LOTR2)                 0.2
48    (Harry Potter1, LOTR1)             (Green Mile)                 0.1
34      (LOTR1, Sixth Sense)          (Harry Potter1)                 0.1

     consequent support  support  confidence  lift  leverage  conviction
84                  0.1      0.1         1.0  10.0      0.09         inf
81                  0.1      0.1         1.0  10.0      0.09         inf
123                 0.1      0.1         0.5   5.0      0.08         1.8
48                  0.2      0.1         1.0   5.0      0.08         inf
34                  0.2      0.1         1.0   5.0      0.08         inf